<!-- Start Projects -->
<section class="projects" id="projects">
	<div class="container projects__container">
		<div class="projects__top">
			<h1>OUR PROJECTS</h1>
		</div>
		<div class="projects__bottom">
			<div class="projects__cards">
				<article class="project">
					<div class="project__image">
						<img src="./assets/img/usam-project1.png" alt="Project Image" />
					</div>
					<div class="project__info">
						<h3>EduTech Platform</h3>
						<p>
							USAM Edutech Platform is an innovative online learning that
							provides a wide array of courses and educational programs. It
							offers a user-friendly experience, making learning accessible to
							individuals from diverse backgrounds, fostering personal and
							professional growth.
						</p>
						<a href="https://usam.netlify.app/" target="_blank">
							<button class="btn btn-primary">Visit</button>
						</a>
					</div>
				</article>
				<article class="project">
					<div class="project__image">
						<img src="./assets/img/project1.png" alt="Project Image" />
					</div>
					<div class="project__info">
						<h3>Career Platform</h3>
						<p>
							USAM Career Platform is a comprehensive platform that connects job
							seekers with employment opportunities. It provides valuable
							resources, career guidance, and networking tools to help
							individuals advance in their careers and achieve their
							professional goals.
						</p>
						<a href="https://usam.netlify.app/" target="_blank">
							<button class="btn btn-primary">Visit</button>
						</a>
					</div>
				</article>
				<article class="project">
					<div class="project__image">
						<img src="./assets/img/usam-project2.png" alt="Project Image" />
					</div>
					<div class="project__info">
						<h3>Services Platform</h3>
						<p>
							USAM Services Platform is a versatile platform that offers a wide
							range of services to cater to various needs. From consulting
							services and project assistance to event management and creative
							solutions, it provides a seamless experience for individuals and
							businesses seeking specialized services and support.
						</p>
						<a href="https://usam.netlify.app/" target="_blank">
							<button class="btn btn-primary">Visit</button>
						</a>
					</div>
				</article>
			</div>
			<div class="projects__cards" id="projects__cards2">
				<article class="project" id="projects__cards2__1">
					<div class="project__image">
						<img src="./assets/img/project1.png" alt="Project Image" />
					</div>
					<div class="project__info">
						<h3>Events Platform</h3>
						<p>
							The Events Platform at USAM offers a diverse array of engaging
							events, providing participants with valuable learning
							opportunities and the chance to build meaningful connections
							within the community. From workshops to networking sessions, the
							platform is a hub for interactive educational experiences.
						</p>
						<a href="https://usam.netlify.app/" target="_blank">
							<button class="btn btn-primary">Visit</button>
						</a>
					</div>
				</article>
				<article class="project">
					<div class="project__image">
						<img src="./assets/img/project1.png" alt="Project Image" />
					</div>
					<div class="project__info">
						<h3>VOC Platform</h3>
						<p>
							The Virtual Office System Platform at USAM provides a seamless and
							efficient workspace for remote teams and individuals. With
							advanced collaboration tools and virtual communication
							capabilities, the platform enables streamlined project management,
							enhancing productivity and connectivity across the organization.
						</p>
						<a href="https://usam.netlify.app/" target="_blank">
							<button class="btn btn-primary">Visit</button>
						</a>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
<!-- Start Projects -->
