<!-- Start About -->
<section class="about" id="about">
	<div class="container about__container">
		<div class="about__left">
			<div class="about__left-image">
				<img src="./assets/img/banner.gif" alt="About Picture" />
			</div>
		</div>
		<div class="about__right">
			<h1>
				“Empowering your career aspirations, USAM Career connects you with your
				dream opportunities.”
			</h1>
			<p>
				USAM Career platform is a comprehensive resource for job seekers and
				career enthusiasts, providing valuable insights, tools, and
				opportunities to excel in their professional journey. With a wide range
				of career development resources and expert guidance.
			</p>
			<a href="projects">
				<button class="btn btn-primary">Visit Us</button>
			</a>
		</div>
	</div>
</section>
<section class="collaborate" id="collaborate">
	<div class="container collaborate__container">
		<div class="collaborate__left">
			<h1>
				“Explore a world of possibilities with USAM Services, your gateway to
				transformative experiences.”
			</h1>
			<p>
				USAM Services platform offers a diverse range of services and solutions
				to meet various business needs, from marketing and branding to web
				development and digital transformation. With a team of skilled
				professionals.
			</p>
			<a href="projects">
				<button class="btn btn-primary">Visit Us</button>
			</a>
		</div>
		<div class="collaborate__right">
			<div class="collaborate__right-image">
				<img src="./assets/img/collaborate.gif" alt="Collaborate Picture" />
			</div>
		</div>
	</div>
</section>
<!-- End About -->
