<!-- Start Achievements -->
<section class="achievements" id="achievements">
	<div class="container achievements__container">
		<div class="achievements__top">
			<h4>USAM</h4>
			<h1>ACHIEVEMENTS</h1>
			<p>These are some of the achievements of USAM</p>
		</div>
		<div class="achievements__bottom">
			<div class="achievements1">
				<div class="achievements__text">
					<h4>USAM</h4>
					<h1>Reachable for over 1 million Arab students</h1>
					<p>
						USAM takes pride in achieving the remarkable milestone of reaching
						over 1 million Arab students, making quality education easily
						accessible and impactful. Our dedication to inclusivity and
						innovation has allowed us to make a significant difference in the
						lives of students across the region.
					</p>
				</div>
				<div class="achievements__img">
					<div class="achievements__right-image">
						<img
							src="./assets/img/achievements1.gif"
							alt="Achievements Picture"
						/>
					</div>
				</div>
			</div>
			<div class="achievements2">
				<div class="achievements__img">
					<div class="achievements__left-image">
						<img
							src="./assets/img/achievements2.gif"
							alt="Achievements Picture"
						/>
					</div>
				</div>
				<div class="achievements__text">
					<h4>USAM</h4>
					<h1>+150 Educational Courses</h1>
					<p>
						USAM offers an extensive range of over 150 educational courses,
						catering to diverse learning needs and empowering individuals to
						acquire valuable skills and knowledge in various disciplines.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Achievements -->
