<!-- Start Floating Nav -->
<span class="floating-nav">
	<div id="hamburger">
		<div id="wrapper">
			<span class="icon-bar" id="one"></span>
<span class="icon-bar" id="two"></span>
<span class="icon-bar" id="thr"></span>
</div>
</div>

<a href="#vision">
    <div class="nav" id="vision1">
        <i class="material-icons">visibility</i>
    </div>
</a>

<a href="#projects">
    <div class="nav" id="project1">
        <i class="material-icons material-symbols-outlined">network_node</i>
    </div>
</a>

<a href="#mission">
    <div class="nav" id="mission1">
        <i class="material-icons material-symbols-outlined">target</i>
    </div>
</a>

<a href="#achievements">
    <div class="nav" id="achievements1">
        <i class="material-icons material-symbols-outlined">trophy</i>
    </div>
</a>
</span>
<!-- End Floating Nav -->

<!-- Start Banner -->
<section class="banner" id="banner">
    <div class="container banner__container">
        <div class="banner__left">
            <h1>
                “Unlock your potential with USAM's innovative website, tailored for your educational journey.”
            </h1>
            <p>
                USAM Edutech is a cutting-edge platform revolutionizing the way education is delivered and accessed. With a vast array of online courses, expert instructors, and interactive learning tools, it empowers individuals worldwide to enhance their skills and
                achieve their career goals.
            </p>
            <a href="projects">
                <button class="btn btn-primary">Visit Us</button>
            </a>
        </div>
        <div class="banner__right">
            <div class="banner__right-image">
                <img src="./assets/img/about.png" alt="Banner Picture" />
            </div>
        </div>
    </div>
</section>
<!-- End Banner -->