<!-- Start Mission -->
<section class="mission" id="mission">
	<div class="container mission__container">
		<div class="mission__top">
			<h4>USAM</h4>
			<h1>OUR MISSION</h1>
			<p>
				Our Mission is Empowering Whole World Students Through Quality Education
			</p>
		</div>
		<div class="mission__bottom">
			<div class="mission__bottom-image">
				<img src="./assets/img/mission.gif" alt="mission Picture" />
			</div>
		</div>
	</div>
</section>
<!-- Start Mission -->
