<!-- Start Fields -->
<section class="fields" id="projects">
	<div class="container fields__container">
		<div class="fields__top">
			<h4>USAM</h4>
			<h1>OUR PROJECTS</h1>
		</div>
		<div class="fields__bottom">
			<div class="fields__cards">
				<article class="field" style="height: 49rem">
					<div class="field__image">
						<img src="./assets/img/card-education.gif" alt="Education Image" />
					</div>
					<div class="field__info">
						<h3>EduTech Platform</h3>
						<p>
							USAM Edutech Platform is an innovative online learning that
							provides a wide array of courses and educational programs. It
							offers a user-friendly experience, making learning accessible to
							individuals from diverse backgrounds, fostering personal and
							professional growth.
						</p>
						<a href="projects">
							<button class="btn btn-primary" style="margin-top: 1.5rem">
								Visit Us
							</button>
						</a>
					</div>
				</article>
				<article class="field">
					<div class="field__image">
						<img src="./assets/img/card-project.gif" alt="Projects Image" />
					</div>
					<div class="field__info">
						<h3>Career Platform</h3>
						<p>
							USAM Career Platform is a comprehensive platform that connects job
							seekers with employment opportunities. It provides valuable
							resources, career guidance, and networking tools to help
							individuals advance in their careers and achieve their
							professional goals.
						</p>
						<a href="projects">
							<button class="btn btn-primary" style="margin-top: 1.5rem">
								Visit Us
							</button>
						</a>
					</div>
				</article>
				<article class="field">
					<div class="field__image">
						<img
							src="./assets/img/card-charity.gif"
							alt="Charity Image"
							class="charity-img"
						/>
					</div>
					<div class="field__info">
						<h3>Services Platform</h3>
						<p>
							USAM Services Platform is a versatile platform that offers a wide
							range of services to cater to various needs. From consulting
							services and project assistance to event management and creative
							solutions, it provides a seamless experience for individuals and
							businesses seeking specialized services and support.
						</p>
						<a href="projects">
							<button class="btn btn-primary">Visit Us</button>
						</a>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
<!-- Start Fields -->
