<!-- Start Vision -->
<section class="vision" id="vision">
	<div class="container vision__container">
		<div class="vision__top">
			<h4>USAM</h4>
			<h1>OUR VISION</h1>
			<p>
				Our vision for USAM is to be a transformative platform that empowers
				individuals through innovative education, enables career growth through
				expert guidance, and provides cutting-edge services that drive business
				success in the digital age.
			</p>
		</div>
		<div class="vision__bottom">
			<div class="vision__bottom-image">
				<img src="./assets/img/vision.gif" alt="Vision Picture" />
			</div>
		</div>
	</div>
</section>
<!-- Start Vision -->
