<!-- Start Branch  -->
<section class="branch__eg">
	<h1 class="heading">OUR BRANCH</h1>
	<div class="branch__eg__container">
		<div class="branch__eg__content">
			<div class="image">
				<img src="./assets/img/eg.gif" alt="" />
			</div>
			<div class="content">
				<h3>Egypt</h3>
			</div>
		</div>
		<div class="branchs__cards">
			<a href="teams?team=cairo">
				<article class="branch">
					<div class="branch__image">
						<img src="./assets/img/cairo-card.jpg" alt="Branch Card" />
					</div>
					<div class="branch__info">
						<h3>Cairo Team</h3>
						<p>
							This Is The Big Team In Egypt, and It includes Cairo and Giza.
						</p>
					</div>
				</article>
			</a>
			<a href="teams?team=coastal">
				<article class="branch">
					<div class="branch__image">
						<img src="./assets/img/coast-card.jpg" alt="Branch Card" />
					</div>
					<div class="branch__info">
						<h3>Coastal Team</h3>
						<p>
							This Is The Costal Team In Egypt, and It includes Alexandria,
							Matrouh, etc.
						</p>
					</div>
				</article>
			</a>
			<a href="teams?team=delta">
				<article class="branch">
					<div class="branch__image">
						<img src="./assets/img/delta-card.jpg" alt="Branch Card" />
					</div>
					<div class="branch__info">
						<h3>Delta Team</h3>
						<p>
							This Is The Delta Team In Egypt, and It includes Mansoura, Tanta,
							etc.
						</p>
					</div>
				</article>
			</a>
			<a href="teams?team=upperegypt">
				<article class="branch">
					<div class="branch__image">
						<img src="./assets/img/upper-eg-card.jpg" alt="Branch Card" />
					</div>
					<div class="branch__info">
						<h3>Upper Egypt Team</h3>
						<p>
							This Is The Upper Egypt Team In Egypt, and It includes Assiut,
							Sohag, etc.
						</p>
					</div>
				</article>
			</a>
		</div>
	</div>
</section>

<section class="main__branch1 container">
	<a href="teams?team=bahrain">
		<div class="row1">
			<div class="content">
				<h3>Bahrain</h3>
			</div>
			<div class="image">
				<img src="./assets/img/bahren.jpg" alt="branch image" />
			</div>
		</div>
	</a>
</section>

<section class="main__branch2 container">
	<a href="teams?team=uae">
		<div class="row2">
			<div class="image">
				<img src="./assets/img/uae.jpg" alt="branch image" />
			</div>
			<div class="content">
				<h3>UAE</h3>
			</div>
		</div>
	</a>
</section>

<section class="main__branch1 container">
	<a href="teams?team=kuwait">
		<div class="row1">
			<div class="content">
				<h3>Kuwait</h3>
			</div>
			<div class="image">
				<img src="./assets/img/kuwait.jpg" alt="branch image" />
			</div>
		</div>
	</a>
</section>

<section class="main__branch2 container">
	<a href="teams?team=oman">
		<div class="row2">
			<div class="image">
				<img src="./assets/img/oman.jpg" alt="branch image" />
			</div>
			<div class="content">
				<h3>Oman</h3>
			</div>
		</div>
	</a>
</section>

<section class="main__branch1 container">
	<a href="teams?team=qatar">
		<div class="row1">
			<div class="content">
				<h3>Qatar</h3>
			</div>
			<div class="image">
				<img src="./assets/img/qatar.jpg" alt="branch image" />
			</div>
		</div>
	</a>
</section>

<section class="main__branch2 container">
	<a href="teams?team=saudiarabia">
		<div class="row2">
			<div class="image">
				<img src="./assets/img/ksa.jpg" alt="branch image" />
			</div>
			<div class="content">
				<h3>Saudi Arabia</h3>
			</div>
		</div>
	</a>
</section>

<section class="main__branch1 container">
	<a href="teams?team=yemen">
		<div class="row1">
			<div class="content">
				<h3>Yemen</h3>
			</div>
			<div class="image">
				<img src="./assets/img/yemen.jpg" alt="branch image" />
			</div>
		</div>
	</a>
</section>

<section class="main__branch2 container">
	<a href="teams?team=morocco">
		<div class="row2">
			<div class="image">
				<img src="./assets/img/morocco.jpg" alt="branch image" />
			</div>
			<div class="content">
				<h3>Morocco</h3>
			</div>
		</div>
	</a>
</section>

<section class="main__branch1 container">
	<a href="teams?team=libya">
		<div class="row1">
			<div class="content">
				<h3>Libya</h3>
			</div>
			<div class="image">
				<img src="./assets/img/Libya.jpg" alt="branch image" />
			</div>
		</div>
	</a>
</section>

<section class="main__branch2 container">
	<a href="teams?team=tunisia">
		<div class="row2">
			<div class="image">
				<img src="./assets/img/tunisia.jpg" alt="branch image" />
			</div>
			<div class="content">
				<h3>Tunisia</h3>
			</div>
		</div>
	</a>
</section>

<section class="main__branch1 container">
	<a href="teams?team=algeria">
		<div class="row1">
			<div class="content">
				<h3>Algeria</h3>
			</div>
			<div class="image">
				<img src="./assets/img/Algeria.jpg" alt="branch image" />
			</div>
		</div>
	</a>
</section>

<section class="main__branch2 container">
	<a href="teams?team=sudan">
		<div class="row2">
			<div class="image">
				<img src="./assets/img/Sudan.jpg" alt="branch image" />
			</div>
			<div class="content">
				<h3>Sudan</h3>
			</div>
		</div>
	</a>
</section>

<section class="main__branch1 container">
	<a href="teams?team=mauritania">
		<div class="row1">
			<div class="content">
				<h3>Mauritania</h3>
			</div>
			<div class="image">
				<img src="./assets/img/Mauritania.jpg" alt="branch image" />
			</div>
		</div>
	</a>
</section>

<section class="main__branch2 container">
	<a href="teams?team=somalia">
		<div class="row2">
			<div class="image">
				<img src="./assets/img/Somalia.jpg" alt="branch image" />
			</div>
			<div class="content">
				<h3>Somalia</h3>
			</div>
		</div>
	</a>
</section>

<section class="main__branch1 container">
	<a href="teams?team=comoros">
		<div class="row1">
			<div class="content">
				<h3>Comoros</h3>
			</div>
			<div class="image">
				<img src="./assets/img/Comoros.jpg" alt="branch image" />
			</div>
		</div>
	</a>
</section>

<section class="main__branch2 container">
	<a href="teams?team=jordan">
		<div class="row2">
			<div class="image">
				<img src="./assets/img/Jordan.jpg" alt="branch image" />
			</div>
			<div class="content">
				<h3>Jordan</h3>
			</div>
		</div>
	</a>
</section>

<section class="main__branch1 container">
	<a href="teams?team=syria">
		<div class="row1">
			<div class="content">
				<h3>Syria</h3>
			</div>
			<div class="image">
				<img src="./assets/img/Syria.jpg" alt="branch image" />
			</div>
		</div>
	</a>
</section>

<section class="main__branch2 container">
	<a href="teams?team=lebanon">
		<div class="row2">
			<div class="image">
				<img src="./assets/img/Lebanon.jpg" alt="branch image" />
			</div>
			<div class="content">
				<h3>Lebanon</h3>
			</div>
		</div>
	</a>
</section>

<section class="main__branch1 container">
	<a href="teams?team=iraq">
		<div class="row1">
			<div class="content">
				<h3>Iraq</h3>
			</div>
			<div class="image">
				<img src="./assets/img/Iraq.jpg" alt="branch image" />
			</div>
		</div>
	</a>
</section>

<section class="main__branch2 container" id="last__branch">
	<a href="teams?team=palestine">
		<div class="row2">
			<div class="image">
				<img src="./assets/img/Palestine.jpg" alt="branch image" />
			</div>
			<div class="content">
				<h3>Palestine</h3>
			</div>
		</div>
	</a>
</section>
<!-- End Branch -->
