<!-- Start Teams -->
<section class="team" style="padding: 5rem 0">
	<h2>Meet Our Team</h2>
	<div id="team_cont" class="container team__container">
		<!--
		<article class="team__member">
			<div class="team__member-image">
				<img src="./assets/img/Picture1.png" alt="Team Member Image" />
			</div>
			<div class="team__member-info">
				<h4 class="font-semibold">Khaled Olama</h4>
				<p>Expert Frontend</p>
			</div>
			<div class="team__member-socials">
				<a href="https://www.instagram.com/maybe_khaled/" target="_blank">
					<i class="uil uil-instagram hover:text-red-600 transition"></i>
				</a>
				<a href="https://twitter.com/maybe_khaled/" target="_blank">
					<i class="uil uil-twitter hover:text-sky-600 transition"></i>
				</a>
				<a href="https://www.linkedin.com/in/khaled-olama" target="_blank">
					<i class="uil uil-linkedin hover:text-blue-700 transition"></i>
				</a>
			</div>
		</article>
		<article class="team__member">
			<div class="team__member-image">
				<img src="./assets/img/Picture2.png" alt="Team Member Image" />
			</div>
			<div class="team__member-info">
				<h4 class="font-semibold">James Smith</h4>
				<p>Expert Tutor</p>
			</div>
			<div class="team__member-socials">
				<a href="https://instagram.com" target="_blank">
					<i class="uil uil-instagram hover:text-red-600 transition"></i>
				</a>
				<a href="https://twitter.com" target="_blank">
					<i class="uil uil-twitter hover:text-sky-600 transition"></i>
				</a>
				<a href="https://linkedin.com" target="_blank">
					<i class="uil uil-linkedin hover:text-blue-700 transition"></i>
				</a>
			</div>
		</article>
		<article class="team__member">
			<div class="team__member-image">
				<img src="./assets/img/Picture3.png" alt="Team Member Image" />
			</div>
			<div class="team__member-info">
				<h4 class="font-semibold">Maria Garcia</h4>
				<p>Expert Tutor</p>
			</div>
			<div class="team__member-socials">
				<a href="https://instagram.com" target="_blank">
					<i class="uil uil-instagram hover:text-red-600 transition"></i>
				</a>
				<a href="https://twitter.com" target="_blank">
					<i class="uil uil-twitter hover:text-sky-600 transition"></i>
				</a>
				<a href="https://linkedin.com" target="_blank">
					<i class="uil uil-linkedin hover:text-blue-700 transition"></i>
				</a>
			</div>
		</article>
		<article class="team__member">
			<div class="team__member-image">
				<img src="./assets/img/Picture4.png" alt="Team Member Image" />
			</div>
			<div class="team__member-info">
				<h4 class="font-semibold">David Taylor</h4>
				<p>Expert Tutor</p>
			</div>
			<div class="team__member-socials">
				<a href="https://instagram.com" target="_blank">
					<i class="uil uil-instagram hover:text-red-600 transition"></i>
				</a>
				<a href="https://twitter.com" target="_blank">
					<i class="uil uil-twitter hover:text-sky-600 transition"></i>
				</a>
				<a href="https://linkedin.com" target="_blank">
					<i class="uil uil-linkedin hover:text-blue-700 transition"></i>
				</a>
			</div>
		</article>
		<article class="team__member">
			<div class="team__member-image">
				<img src="./assets/img/Picture5.jpg" alt="Team Member Image" />
			</div>
			<div class="team__member-info">
				<h4 class="font-semibold">George Henry</h4>
				<p>Expert DevOps</p>
			</div>
			<div class="team__member-socials">
				<a href="https://instagram.com" target="_blank">
					<i class="uil uil-instagram hover:text-red-600 transition"></i>
				</a>
				<a href="https://twitter.com" target="_blank">
					<i class="uil uil-twitter hover:text-sky-600 transition"></i>
				</a>
				<a href="https://linkedin.com" target="_blank">
					<i class="uil uil-linkedin hover:text-blue-700 transition"></i>
				</a>
			</div>
		</article>
		<article class="team__member">
			<div class="team__member-image">
				<img src="./assets/img/Picture6.jpg" alt="Team Member Image" />
			</div>
			<div class="team__member-info">
				<h4 class="font-semibold">Thomas Wilson</h4>
				<p>Expert Tutor</p>
			</div>
			<div class="team__member-socials">
				<a href="https://instagram.com" target="_blank">
					<i class="uil uil-instagram hover:text-red-600 transition"></i>
				</a>
				<a href="https://twitter.com" target="_blank">
					<i class="uil uil-twitter hover:text-sky-600 transition"></i>
				</a>
				<a href="https://linkedin.com" target="_blank">
					<i class="uil uil-linkedin hover:text-blue-700 transition"></i>
				</a>
			</div>
		</article>
		<article class="team__member">
			<div class="team__member-image">
				<img src="./assets/img/Picture7.jpg" alt="Team Member Image" />
			</div>
			<div class="team__member-info">
				<h4 class="font-semibold">John Brown</h4>
				<p>Expert Tutor</p>
			</div>
			<div class="team__member-socials">
				<a href="https://instagram.com" target="_blank">
					<i class="uil uil-instagram hover:text-red-600 transition"></i>
				</a>
				<a href="https://twitter.com" target="_blank">
					<i class="uil uil-twitter hover:text-sky-600 transition"></i>
				</a>
				<a href="https://linkedin.com" target="_blank">
					<i class="uil uil-linkedin hover:text-blue-700 transition"></i>
				</a>
			</div>
		</article>
		<article class="team__member">
			<div class="team__member-image">
				<img src="./assets/img/Picture8.png" alt="Team Member Image" />
			</div>
			<div class="team__member-info">
				<h4 class="font-semibold">Charles Miller</h4>
				<p>Expert SWE</p>
			</div>
			<div class="team__member-socials">
				<a href="https://instagram.com" target="_blank">
					<i class="uil uil-instagram hover:text-red-600 transition"></i>
				</a>
				<a href="https://twitter.com" target="_blank">
					<i class="uil uil-twitter hover:text-sky-600 transition"></i>
				</a>
				<a href="https://linkedin.com" target="_blank">
					<i class="uil uil-linkedin hover:text-blue-700 transition"></i>
				</a>
			</div>
		</article>
	-->
	</div>
</section>
<!-- End Teams -->
