<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Start Contact-->
<section class="contact-us" id="contact">
    <div class="container contact-us__container">
        <aside class="contact-us__aside">
            <div class="aside-us__image">
                <img src="./assets/img/contact.svg" alt="Contact Image" />
            </div>
            <h2>Contact Us</h2>
            <p>
                Join us in this educational revolution and be part of a community that believes in the power of learning and growth. Together, we can shape a brighter future through education.
            </p>
            <ul class="contact-us__details">
                <li>
                    <i class="uil uil-envelope"></i>
                    <h5>Hello@usamif.com</h5>
                </li>
                <li>
                    <i class="uil uil-location-point"></i>
                    <h5>Cairo, Egypt</h5>
                </li>
            </ul>
            <ul class="contact-us__socials">
                <li>
                    <a href="https://web.facebook.com/Usam.Courses/?_rdc=3&_rdr"><i class="uil uil-facebook-f"></i
					></a>
                </li>
                <li>
                    <a href="https://instagram.com/usamfoundation?igshid=MzRlODBiNWFlZA=="><i class="uil uil-instagram"></i
					></a>
                </li>
                <li>
                    <a href="https://twitter.com/FoundationUsam"><i class="uil uil-twitter"></i
					></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/usamif"><i class="uil uil-linkedin"></i
					></a>
                </li>
            </ul>
        </aside>
        <form id="contactForm" action="/contactus" method="post" class="contact-us__form">
            <div class="form-us__name">
                <input type="text" name="fullname" placeholder="Full Name" required />
                <input type="text" name="phone" placeholder="Phone Number" required />
            </div>
            <input type="email" name="email" placeholder="Email Address" required />
            <textarea name="message" rows="8" placeholder="Message" required></textarea>
            <button  type="submit" class="btn btn-primary">Send Message</button>
        </form>
        
        <!-- <div id="alert_contact_container" class="contact-alertmsg__form__container">
            
            <div class="contact-alertmsg__form"> -->
                <% if (error !== "") { %>
                    <script>
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text:'<%=error%>',
                            })
                    </script>
                <%} %>
                    <!-- </div>
                </div> -->
        
         <!-- <div style=" background-color: #f8d7da;color: #721c24;border: 1px solid #f5c6cb;padding: 10px;
            margin-bottom: 20px;border-radius: 5px;">
           
        </div>  -->
    </div>
</section>
<!-- error message  -->
    <!-- End Contact -->