<section clas>
    <form class="form" style="background-color: transparent; height: 50vh; text-align: center; margin: 5% auto; "
        action="/admin" method="get">
        <div class="title">Login</div>
        <div class="input-container ic1">
            <input id="username" placeholder="Name" required type="text" class="input" name="adminName">
        </div>

        <div class="input-container ic2">
            <input id="password" placeholder="Password" required type="password" name="adminPassword" class="input">
        </div>

        <button class="submit" type="submit" id="submit">submit</button>
    </form>
</section>