<!-- Start Navbar -->
<nav>
    <div class="container nav__container">
        <div class="logo__container">
            <a href="home">
            <img src="./assets/img/USAM white.png" alt="Logo Image" />
                <!-- <h4 style="color: #c88b3c;">USAM</h4> -->
            </a>
        </div>
        <div class="nav__menu">
            <ul class="nav__links">
                <li><a href="home">Home</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a href="branch">Branches</a></li>
                <li><a href="game">Games</a></li>
                <li>
                    <a id="join-dropdown-btn">Join Us ▼</a>
                    <ul class="join-dropdown-content">
                        <li><a href="partners">Partners</a></li>
                        <li><a href="community">Community Partners</a></li>
                        <li><a href="volunteers">Volunteers</a></li>
                        <li><a href="ambassadors">Ambassadors</a></li>
                    </ul>
                </li>
                <li><a href="contact" class="nav-btn">Contact Us</a></li>
            </ul>
        </div>
        <button id="open-menu-btn">
            <i class="uil uil-bars"></i>
        </button>
        <button id="close-menu-btn" class="close-menu-btn">
            <i class="uil uil-multiply"></i>
        </button>
    </div>
</nav>
<!-- End Navbar -->