<section class="quiz">
	<h2 class="title" id="title">Games</h2>
	<div class="quiz-container" id="quiz">
		<div class="quiz-content" id="game">
			<a href="quiz"
				><button id="submit" class="btn btn-primary">Quiz Game</button></a
			>
			<a href="memory"
				><button id="submit" class="btn btn-primary">Memory Game</button></a
			>
			<a href="tic-tac-toe"
				><button id="submit" class="btn btn-primary">
					Tic Tac Toe Game
				</button></a
			>
			<a href="word-guess"
				><button id="submit" class="btn btn-primary">
					Guess a Word Game
				</button></a
			>
		</div>
		<div class="blob"></div>
	</div>
</section>
