<section class="memory">
    <h2>Memory Game</h2>
    <div class="wrapper">
        <ul class="cards">
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-1.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-2.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-3.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-4.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-5.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-6.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-7.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-8.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-1.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-2.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-3.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-4.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-5.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-6.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-7.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view">
                    <span class="material-icons">
                        ?
                    </span>
                </div>
                <div class="view back-view">
                    <img src="./assets/img/img-8.png" alt="card-img">
                </div>
            </li>
        </ul>
    </div>
</section>