<section class="quiz">
    <h2 class="title" id="title">Quiz Game</h2>
    <div class="quiz-container" id="quiz">
        <div class="quiz-content">
            <h4 id="question">هل تعتقد أن أهم جزء في العمل هي روح الفريق ؟</h4>
            <div id="answer__buttons">
                <ul>
                    <li class="btn-quiz">
                        <input type="radio" name="answer" id="a" class="answer">
                        <label for="a" id="a_text">نعم</label>
                    </li>
                    <li class="btn-quiz">
                        <input type="radio" name="answer" id="b" class="answer">
                        <label for="b" id="b_text">ربما في بعض الأحيان</label>
                    </li>
                </ul>
            </div>
            <button id="submit" class="b btn btn-primary">التالي</button>
        </div>
        <div class="blob"></div>
    </div>
</section>